.linha{
	width: 100%;
}
.coluna-50{
	width: 47%;
	float: left;
	display: block;
	overflow: hidden;
	padding: 10px;
}
.coluna-30{
	width: 30%;
	float: left;
	display: block;
	overflow: hidden;
	padding: 10px;
}
.song-input{
	width: 100%;
}
/* Small Devices, Tablets */
@media (max-width : 768px) {
	.coluna-50{
		width: 100%;
		float: none;
	}
	.coluna-30{
		width: 100%;
		float: none;
	}
}
.micsongs-wrap{
	background: #fff;
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.icon-space::before{
	margin-right: 20px;
}
.select2-container .select2-selection--multiple {
    min-height: 29px !important;
}
.select2-selection__rendered li{
	margin-bottom: 2px !important; 
}
.select2-container .select2-selection--single {
    height: 33px !important;
}
.micsongs-up{
	color: #00FF00;
}
.micsongs-down{
	color: #FF0000;
}
